// app global css
//.fa-fit-x:before {
//  //content: url('~assets/fit-s-bubl.svg');
//  width: 22px;
//  height: 22px;
//  display: inline-block;
//  content: '';
//  -webkit-mask: url('~assets/x.svg');
//  mask: url('~assets/x.svg') no-repeat 50% 50%;
//  -webkit-mask-size: cover;
//  mask-size: cover;
//  background-color: #999999;
//}
.in-cons {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/in-cons.svg');
  mask: url('~assets/in-cons.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #333333;
}

.cons-no-spasm {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/cons-no-spasm.svg');
  mask: url('~assets/cons-no-spasm.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #0c0c0c;
}
.cons-no-spasm-dream {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/cons-no-spasm-dream.svg');
  mask: url('~assets/cons-no-spasm-dream.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #0c0c0c;
}
.uncon-with-spasm {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/uncon-with-spasm.svg');
  mask: url('~assets/uncon-with-spasm.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #0c0c0c;
}
.uncon-with-spasm-draem {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/uncon-with-spasm-draem.svg');
  mask: url('~assets/uncon-with-spasm-draem.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #0c0c0c;
}
.fit-x {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url('~assets/fit-x.svg');
  mask: url('~assets/fit-x.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #0c0c0c;
}

